@mixin flex {
  display: flex;
  justify-content: space-between;
}

@mixin flex-aligen {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}
